body {
  font-family: Inconsolata, monospace;
  color: white;
  background-color: #14171b;
  margin: 0;
  overflow-x: hidden;
}

.full_cont{
  display: flex;
  flex-direction: column;
  width:100vw;
  height:auto;
  justify-content: center;
  align-items: center;
}

#title{
  font-size:2.6vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 3vw;
  width:100vw;
  color: yellow;
}


/* terminal */
.term {
  width: 50vw;
  height: 30vw;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.56);
  background: #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top:2vw;
  margin-bottom: 1vw;
}
.term-header {
  display: flex;
  padding: 5px;
  background: linear-gradient(#e2e0e2, #c7c6c8);
}
.term-header-button {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.term-header-button-close {
  background: #ff615a;
}
.term-header-button-minimize {
  background: #ffc230;
}
.term-header-button-expand {
  background: #29cb41;
}
.term-header-title {
  text-align: center;
  color: #494849;
  font-family: sans-serif;
  font-size: 13px;
  width: 100%;
}
.term.inactive .term-header {
  background: linear-gradient(to bottom, #f8f8f8 0%, #f7f6f7 100%);
}
.term.inactive .term-header-button-close, .term.inactive .term-header-button-minimize, .term.inactive .term-header-button-expand {
  border: 1px solid #d0d0d0;
  background-color: #dddddd;
}
.term.inactive .term-header-title {
  color: #b7b6b7;
}

#container {
  overflow-y: scroll;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding-left: 10px;
}

.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}
.input-line > div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.prompt {
  white-space: nowrap;
  color: #96b38a;
  margin-right: 7px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  display: box;
  box-pack: center;
  box-orient: vertical;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  border: none;
  color: inherit;
  font-size: 100%;
}
.ls-files {
  height: 45px;
  -webkit-column-width: 100px;
  -moz-column-width: 100px;
  -o-column-width: 100px;
  column-width: 100px;
}

::-webkit-scrollbar {
  width: 8px;
}

#formlink {
  font-size:100%;
  color: rgb(241, 238, 238);
  text-align: right;
  padding-right: 20px;
}

#formlink a {
  color: yellow;
  text-decoration: none;

}

/* end of terminal */

/* ::content */
.desciption-content{
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
  text-align: center;
}

@media screen and (max-width:800px) {
  #title{
  font-size:30px;
  margin-top:50px;
  }

  #container{
    padding-left: 3px;
  }

  .term {
    width: 90vw;
    height: 300px;
    margin-top:50px;
    margin-bottom:50px;
    font-size: 12px;
  }
  .desciption-content{
    width: 85vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    text-align: center;
    font-size: 12px;
  }

}

footer {
  text-align: center;
  font-size:95%;

}

footer a {
  color: yellow;
  text-decoration: none;
}

footer img {
  width: 1.5em;
  height: 1.2em;
}